<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid"><br>
    <h2 th:text=" 'Hello ' + ${#httpServletRequest.remoteUser} + ' !'">Login as</h2><br>
    <a class="btn btn-success" th:href="@{/updatePassword}">Update Password</a><br><br>
    <div class="row">
        <div class="col-md-6">
            <h3 th:text="${alertmessage}" class="alert alert-danger"></h3>
            <div class="card">
                <div class="card-header">Tambah User Baru</div>
                <div class="card-body">

                    <form th:action="@{/user/addUser}" th:object="${user}" method="post">
                        <div class="row form-group">
                            <label class="col-sd-4"> Username: </label> <input
                                class="col-sd-8 form-control input-sm" type="text"
                                name="username">
                        </div>
                        <div class="row form-group">
                            <label class="col-sd-4"> Password: </label>
                            <input class="col-sd-8 form-control input-sm" type="password" name="password">
                        </div>
                        <div class="row form-group">
                            <label class="col-sd-4"> uuid: </label>
                            <input class="col-sd-8 form-control input-sm" type="text" name="uuid">
                        </div>
                        <div class="row form-group">
                            <label class="col-sd-4"> Role: </label>
                            <select class="form-control" name="role_id" id="role_id">
                                <option th:each="role : ${listRole}"
                                        th:value="${role.id}"
                                        th:text="${role.nama}"></option>
                            </select>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>